*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.background-clip{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header h1{
        font-family: "Ballet", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 80px;
        padding: 30px;
        text-align: center;
        width: 100%;
        opacity: 1;
        transition: 0.3s;
}

a{
    text-decoration: none;
}

.header h1:hover{
    opacity: 0.7;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.stopka{
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
    padding: 50px;
    color: white;
    text-align: center;
    clear: both;
}

.stopka a{
    padding: 30px;
}

.stopka h2{
    font-family: "Ballet", serif;
    padding: 15px;
    font-weight: 100;
    font-size: xx-large;
}

.btn{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    transition-duration: 0.3s ;
    transition-property: transform;
    transition-timing-function: ease;
    transition-delay: 0s;
    border: none;
    font-family: "VT323", serif;
    font-weight: 400;
    font-style: normal;
    
}

.btn:hover{
    transform: translateY(-5px);
}   

.lewy{
    height: 600px;
    clear: both;
    float: left;
    width: 50%;
    text-align: right;
    padding: 30px;
}

.produkt{
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.prawy{
    color: white;
    float: left;
    width: 50%;
    padding: 40px;
    font-family: "VT323", serif;
    height: 600px;
    padding-top: 100px;
}

.prawy h2{
    font-weight: 200;
}

.prawy h3{
    font-weight: 200;
}

.prawy h1{
    font-family: "Ballet", serif;
    font-weight: 500;
    text-align: center;
}

.produkt-prawo:hover{
    opacity: 0.8;
}

.produkt-lewo:hover{
    opacity: 0.8;
}


.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}